section.body{
    height: auto;
    width: auto;
}
/* img.rose-lin {
  width: 100%;
  margin-left: 0;
} */
img.rose-lin {
  width: 50%;
  margin-left: 25%;
}

img.rose-lin-mobile{
  width: 80%;
  margin-left: 10%;
}
.text-color{
    color: #16224bde;
}
button.fonts{
  font-family: "Poppins", Times, serif !important;
  font-weight: 600;
  color: #A41608;
  border: 3px solid #A41608;
  border-radius: 10px;
}
.pad-left{
    padding-left: 10%;
}
input{
    font-family: "Poppins", Times, serif !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: gray;
  }
  /* ::ng-deep .mat-form-field-infix {
    padding-top: unset !important;
  } */
  /* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 10px !important;
    height: 55px;
  } */
  /* ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 5px !important;
  } */
  ::ng-deep .mat-form-field-outline-start {
    border-radius: 15px 0 0 15px !important;
    min-width: 15px !important;
  }
  ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 15px 15px 0 !important;
  }
  ::ng-deep .mat-checkbox-inner-container {
    width: 25px !important;
    height: 25px !important;
  }
  ::ng-deep .mat-checkbox-label {
    font-size: 16px;
  }