<section>
  <app-header></app-header>
  <div *ngIf="!isMobile">
    <div class="text-6xl font-bold text-color pl-60 pt-16">Members Only!</div>
    <div class="text-center">
      <div class="w-full grid grid-cols-2">
        <div class="ml-28">
          <img class="rose-lin" src="assets/Images/rose-logo.png" />
        </div>
        <div class="text-left">
          <div class="mt-20 ml-16">
            <section class="mt-5">
              <mat-card-title
                >List of social media followed/like/subscribe</mat-card-title
              >
              <!-- <app-attachments-list
                [socialmedias]="form.value.socialMedias"
                [maxSocialmedia]="maxSocialmedia"
                (deleteSignatory)="remove($event)"
              >
              </app-attachments-list> -->

              <div class="grid grid-cols-3 gap-4">
                <app-attachments-fields
                  label="Select Social Media"
                  (selectedField)="selectedField($event)"
                >
                </app-attachments-fields>
                <div>Upload Area</div>
                <div class="pt-2">
                  <button mat-flat-button color="primary" (click)="add()">
                    <mat-icon>check</mat-icon>
                  </button>
                </div>
              </div>
            </section>

            <div>
              <button mat-raised-button class="fonts w-36" (click)="submit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isMobile">
    <div class="text-2xl font-bold text-color text-center pt-8">
      Members Only!
    </div>
    <div class="text-center">
      <div class="w-full">
        <div class="ml-18">
          <img class="rose-lin" src="assets/Images/rose-logo.png" />
        </div>
        <div class="text-left">
          <div class="mt-20 ml-16">
            <section class="mt-5">
              <mat-card-title
                >List of social media followed/like/subscribe</mat-card-title
              >
              <!-- <app-attachments-list
                [socialmedias]="form.value.socialMedias"
                [maxSocialmedia]="maxSocialmedia"
                (deleteSignatory)="remove($event)"
              >
              </app-attachments-list> -->

              <div class="grid grid-cols-3 gap-4">
                <app-attachments-fields
                  label="Select Social Media"
                  (selectedField)="selectedField($event)"
                >
                </app-attachments-fields>
                <div>Upload Area</div>
                <div class="pt-2">
                  <button mat-flat-button color="primary" (click)="add()">
                    <mat-icon>check</mat-icon>
                  </button>
                </div>
              </div>
            </section>

            <div>
              <button mat-raised-button class="fonts w-36" (click)="submit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</section>
