<div fxLayout="row" fxLayoutAlign="start center">
  <img *ngIf="!isMobile" src="assets/Images/banner/header-banner.jpg" />
  <img *ngIf="isMobile" src="assets/Images/banner/header-banner-mobile.jpg" />
</div>
<section *ngIf="!isMobile">
  <div class="text-center">
    <div class="text-6xl font-bold text-color pl-60 pt-16">Login</div>
    <div class="text-center">
      <div class="w-full grid grid-cols-2 gap-4">
        <div class="text-right">
          <img class="rose-lin" src="assets/Images/rose-logo.png" />
        </div>
        <div class="text-left">
          <div class="mt-20 ml-16">
            <div class="login-panel-label">Username</div>
            <div class="login-panel-input">
              <mat-form-field class="w-1/2" appearance="outline">
                <input
                  matInput
                  [(ngModel)]="username"
                  [ngModelOptions]="{ standalone: true }"
                />
              </mat-form-field>
            </div>
            <div class="login-panel-label">Password</div>
            <div class="login-panel-input">
              <mat-form-field class="w-1/2" appearance="outline">
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  (keydown.enter)="login()"
                  [(ngModel)]="password"
                  [ngModelOptions]="{ standalone: true }"
                  autocomplete="off"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div
              class="login-panel-input"
              fxLayout="row"
              fxLayoutAlign="space-between"
            >
              <div>
                <mat-label>{{ this.loginError }}</mat-label>
              </div>
            </div>
            <div>
              <button
                mat-raised-button
                class="buttonLogin"
                (click)="login()"
                [class.spinner]="isProcessing"
                [disabled]="isProcessing"
              >
                Log In
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bgColor foreColore font-text pb-5">
    <form
      action=""
      [formGroup]="form"
      class="grid grid-cols-2 gap-4 mt-10 mr-14 ml-14"
    >
      <div class="w-full mt-10">
        <div>
          <p class="font-bold text-4xl">MESSAGE</p>
          <p>
            Feel free to get in touch with us for your inquiries and request.
          </p>
        </div>
        <br />
        <div>
          <div class="grid grid-cols-2 gap-2 w-3/4">
            <div>
              <p>First Name</p>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput formControlName="first_name" />
              </mat-form-field>
            </div>
            <div>
              <p>Last Name</p>
              <mat-form-field class="w-full" appearance="outline">
                <input matInput formControlName="last_name" />
              </mat-form-field>
            </div>
          </div>
          <p>Email</p>
          <mat-form-field class="w-3/4" appearance="outline">
            <input
              matInput
              formControlName="email"
              type="email"
              [email]="true"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="w-full mt-10">
        <div>
          <p>Message</p>
          <mat-form-field appearance="outline" class="textAreaInput w-3/4">
            <textarea
              class="w-full"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="7"
              cdkAutosizeMaxRows="11"
              formControlName="message"
            ></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="submit()" class="fonts w-36">
          Send
        </button>
      </div>
    </form>
  </div>
</section>

<section class="bgColor foreColore pt-2 pb-5" *ngIf="isMobile">
  <div class="m-5 font-text">
    <div class="w-full mt-3">
      <div>
        <div class="font-bold text-l">Message</div>
        <div class="text-xxs">
          Feel free to get in touch with us for your inquiries and request.
        </div>
        <br />
      </div>
    </div>
    <form action="" [formGroup]="form">
      <div>
        <div class="grid grid-cols-2 gap-2 w-full">
          <div>
            <p class="text-xs">First Name</p>
            <mat-form-field class="w-full" appearance="outline">
              <input matInput formControlName="first_name" />
            </mat-form-field>
          </div>
          <div>
            <p class="text-xs">Last Name</p>
            <mat-form-field class="w-full" appearance="outline">
              <input matInput formControlName="last_name" />
            </mat-form-field>
          </div>
        </div>
        <p class="text-xs">Email</p>
        <mat-form-field class="w-full" appearance="outline">
          <input matInput formControlName="email" type="email" [email]="true" />
        </mat-form-field>
        <div>
          <p class="text-xs">Message</p>
          <mat-form-field appearance="outline" class="textAreaInput w-full">
            <textarea
              class="w-full"
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="7"
              cdkAutosizeMaxRows="11"
              formControlName="message"
            ></textarea>
          </mat-form-field>
        </div>
        <button mat-raised-button (click)="submit()" class="fonts w-24 text-xs">
          Send
        </button>
      </div>
    </form>
  </div>
</section>

<!-- <div
  class="login-mobile"
  fxLayout="row"
  fxLayoutAlign="center center"
  *ngIf="isMobile"
>
  <div fxLayout="column" fxFlex="grow" class="login-panel-mobile">
    <div class="login-mobile-panel-header">Responder Log In</div>
    <div class="login-panel-label">Username / Email Address</div>
    <div class="login-panel-input">
      <mat-form-field class="full-width" appearance="outline">
        <input
          matInput
          [(ngModel)]="username"
          [ngModelOptions]="{ standalone: true }"
        />
      </mat-form-field>
    </div>
    <div class="login-panel-label">Password</div>
    <div class="login-panel-input">
      <mat-form-field class="full-width" appearance="outline">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          (keydown.enter)="login()"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          autocomplete="off"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="login-panel-input" fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <mat-checkbox class="example-margin"> Remember me</mat-checkbox>
      </div>
      <div>
        <mat-label>{{ this.loginError }}</mat-label>
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        class="buttonLogin"
        (click)="login()"
        [class.spinner]="isProcessing"
        [disabled]="isProcessing"
      >
        Log In
      </button>
    </div>
  </div>
</div> -->
