
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: calc(100vh - 175px);
    overflow: unset;
  }
  ::ng-deep .mat-list-item{
    font-family: "Poppins", Times, serif !important;
  }
  
  .mat-sidenav {
    width: 100%;
    overflow-x: hidden;
  }
  
  a.simple-text {
    margin-left: unset !important;
  }
  
  button.menu-button {
    color: inherit;
    background: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .twistie-separator {
    flex: 1 1 0%;
  }
  
  .routeIcon {
    margin-right: 10px;
    font-size: 16pt;
  }
  
  .menu-item-text {
    font-size: 10pt;
  }
  
  .menu-twistie {
    font-size: 10pt;
    height: 12px;
    width: 12px;
  }
  
  .mat-list-base {
    padding-top: unset;
  }
  
  .mat-list-subitem {
    padding-left: 10px;
  }
  
  .mat-list-subitem.active {
    background-color: #e8eaf6;
  }
  
  .mat-list-item.active {
    background-color: #ebffbd;
    font-weight: bold;
  }
  
  .centerAlign {
    text-align: center;
  }
  .addMarginTop10px {
    margin-top: 10px;
  }
  .addBorder {
    border-top: 2px solid lightgrey;
    border-right: 1px solid lightgrey;
  }
  .user-panel {
    padding: 16px 0px;
    text-align: center;
    height: auto;
    margin-bottom: 8px;
    border-radius: 50rem;
  }

  .user-panel-avatar{
    width: 64px;
    margin: 0px 0px 0px 95px;
  }

.user-panel-name,
.user-panel-email {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: normal;
}

.user-panel-name,
.user-panel-email,
.user-panel-icons {
  opacity: 1;
  // transition: transitions.swift-ease-out(opacity);
}

.user-panel-icons {
  white-space: nowrap;

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}


.icon-18 {
  width: 18px!important;
  height: 18px!important;
  font-size: 18px!important;
  line-height: 18px!important
}