.main-panel {
    height: 100vh;
    background-color: unset;
  }
  .main-panel .content {
    margin-top: 64px;
    padding: 0 30px 0 30px;
    min-height: calc(100vh - 64px);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
  }
  ::ng-deep .mat-card {
    background: #ffffffba !important;
    margin-top: 10px;
    min-height: calc(100vh - 90px);
  }
  ::ng-deep #dimScreen
  {
      position:fixed;
      padding:0;
      margin:0;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      background:rgba(255,255,255,0.5) !important;
      z-index: 9999;
  }
  
  ::ng-deep .mat-mini-fab {
    width: 28px !important;
    height: 28px !important;
    padding: unset !important;
    
    .material-icons {
      font-size: 15px !important;
    }
  }
  ::ng-deep .mat-fab {
    width: 35px !important;
    height: 35px !important;
    padding: unset !important;
    
    .material-icons {
      font-size: 20px !important;
    }
    .mat-button-wrapper {
      padding: 7px 0 !important;
    }
  }
  
  ::ng-deep .mat-mini-fab.mat-primary, ::ng-deep .mat-fab.mat-primary, ::ng-deep .mat-raised-button.mat-primary {
    background-color: black;
  }