mat-card.removeWidth{
    max-width: 400px;
    height: unset;
}

button.fonts{
    font-family: "Poppins", Times, serif !important;
    font-weight: 600;
    background-color: #A41608;
    color: whitesmoke;
    border-radius: 6px;
  }

  mat-card-header{
    display: unset !important;
  }

