name: ci

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/rl-signup-front:latest
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/rl-signup-front:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_USERNAME }}/responsive-landing-page:buildcache,mode=max

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    steps:
      -
        name: Deploy RL-SIGNUP
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          port: 22
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{secrets.SSH_KEY}}
          script: |
            cd deployment-scripts/webapp/
            docker compose pull signup_frontend
            docker compose up signup_frontend -d
            docker compose logs --tail 20 signup_frontend
